@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Comfortaa', cursive;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 210 100% 25%;
    --primary-foreground: 210 40% 98%;
    --secondary: 24 100% 60%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
}
  
.container {
  max-width: 1200px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
